.deposit-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.deposit-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: zoomIn 0.4s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pay-met {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.pay-met .pay-img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover .pay-img {
  transform: scale(1.2);
 
}

.selected {
  border: 1px solid #ffc400;
  padding: 5px;
  border-radius: 10px;
}

.selected-msg {
  text-align: center;
  color: #007b2b;
  font-size: 14px;
  margin-top: 10px;
}

.currency {
  margin-top: 20px;
  font-weight: bold;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-size: 16px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-msg {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top: 3px solid rgb(0, 196, 160);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
